body {
}

table {
  background-color: gray;
  padding: 5px;
  border-spacing: 0.1em 0.2em;
}

tr {
  background-color: white;
}

td {
  padding: 5px;
}

code {
  display: block;
  width: 300px;
}

.browser {
  border: solid black 0.2em;
  display: block;
  min-width: 300px;
  float: left;
}

.link {
  color: blue;
}

.prototype {
  color: gray;
}

.possibleNative {
  color: red;
}

#debugDiv {
  border-style: dotted;
  border-color: black;
  background: gray;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 200px;
  width: 90%;
  overflow: scroll;
  display:none;
}
