body {
}

table {
  background-color: gray;
  padding: 5px;
  border-spacing: 0.1em 0.2em;
}

tr {
  background-color: white;
}

td {
  padding: 5px;
}

code {
  display: block;
  width: 300px;
}

#naked {
  border: solid black 0.2em;
  display: block;
  min-width: 300px;
  float: left;
}

.link {
  color: blue;
}

.prototype {
  color: gray;
}

.possibleNative,
.error {
  color: red;
}

#debugDiv {
  xborder-style: dotted;
  xborder-color: black;
  xbackground: gray;
  xposition: absolute;
  xbottom: 0px;
  xleft: 0px;
  height: 200px;
  xwidth: 90%;
  overflow: scroll;
  xdisplay:none;
} 
