body {
}

table {
  background-color: gray;
  padding: 5px;
  border-spacing: 0.1em 0.2em;
}

tr {
  background-color: white;
}

td {
  padding: 5px;
}

#naked {
  display: block;
  float: left;
}

.link {
  color: blue;
}

.prototype {
  color: gray;
}

.possibleNative,
.error {
  color: red;
}

.string span:before,
.string span:after {
  content: '"';
}

#debugDiv {
  width: 90%;
  height: 200px;
  overflow: scroll;
} 
