#naked {
  display: block;
  float: left;
}

.browser table {
  background-color: gray;
  padding: 5px;
  border-spacing: 0.1em 0.2em;
}

.browser tr {
  background-color: white;
}

.browser td {
  padding: 5px;
}

.browser .link {
  color: blue;
}

.browser .prototype {
  color: gray;
}

.browser .possibleNative,
.browser .error {
  color: red;
}

.browser .string span.value:before,
.browser .string span.value:after {
  content: '"';
}
