#naked {
  display: block;
  float: left;
}

.browser table {
  background-color: gray;
  padding: 5px;
  border-spacing: 0.1em 0.2em;
}

.view {
  background-color: white;
}

.ui-draggable-dragging {
  background-color: #FFA;
}

.view td {
  padding: 5px;
}

.view .link {
  color: blue;
}

.view.prototype {
  color: gray;
  background-color: #DDD;
}

.view.prototype .link {
  color: #88F;
}

.view.possibleNative,
.view.error {
  color: red;
}

.view.string span.value:before,
.view.string span.value:after {
  content: '"';
}

.active, .active.prototype {
  background-color: #AFA;
}
